<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Sobre Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card class="ion-text-center transparent-card letra">
    <ion-card-header>
      <ion-card-title>VivoReg</ion-card-title>
    </ion-card-header>

    
    <img src="assets/images/vivoregfinal.png" class="ion-padding">

    <ion-card-content>
      <p class="parrafo">
        Somos un software creado para facilitar el registro de asistencias por clase mediante el uso de la tecnología QR.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
