<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card class="letra">
    <ion-card-header>
      <ion-card-title>Registro</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha de Nacimiento</ion-label>
          <ion-input formControlName="fecha" type="date"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Correo</ion-label>
          <ion-input formControlName="correo" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Reingresa tu contraseña</ion-label>
          <ion-input formControlName="confirmacionPassword" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Tipo</ion-label>
          <ion-select value="false" multiple="false" placeholder="Selecciona un tipo" formControlName="tipo">
            <ion-select-option value="false">Alumno</ion-select-option>
            <ion-select-option value="true">Profesor</ion-select-option>
          </ion-select>
        </ion-item>
        <br>
        <ion-button (click)="registrarse()" color="warning">Registrarse
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
